.editor__aside {
  display: flex;
  flex-direction: column;
}

.editor__aside,
.editor__body {
  padding: .5rem 1rem;
}

.editor__aside .editor__line {
  align-content: center;
  height: 27px;
  margin: 0;
  text-align: right;
}

.editor__body {
  width: 100%;
}

.editor__container {
  display: flex;
  font-family: Consolas, sans-serif;
  font-size: 1rem;
}

.editor__entry {
  display: flex;
  margin-bottom: .25rem;
  margin-top: .25rem;
}

