.json-node__container {
  /*display: flex;*/
}

.json-node__container.json-node__container--opened .json-node__container-body {
  border-left-color: var(--border);
  border-left-style: solid;
  border-left-width: 1px;
  margin-left: .375rem;
  padding-left: 1rem;
}

.json-node__container:not(.json-node__container--opened) {
  display: flex;
}

.json-node__container:not(.json-node__container--opened) .json-node__container-body {
  display: none;
}

.json-node__container-inner {
  align-items: center;
  display: flex;
  min-height: 27px;
}

.json-node__end {
  padding-left: .2rem;
}

.json-node__end, .json-node__start {
  align-items: center;
  display: flex;
}

.json-node__end--symbol, .json-node__num-items, .json-node__start--symbol {
  cursor: default;
  margin-bottom: .25rem;
  margin-top: .25rem;
}

.json-node__num-items {
  background-color: unset;
  border: 0;
  cursor: pointer;
  font-size: .75rem;
  font-style: italic;
  margin-right: -.2rem;
  padding-left: .625rem;
  padding-right: .625rem;
  padding-top: .1625rem;
}

.json-node__start:hover ~ .theme__border {
  border-left-color: var(--border-hover);
}
