.json-value__badge {
  border-radius: .25rem;
  font-size: .7rem;
  margin-left: .4rem;
  padding: .15rem .2rem;
}

.json-value__input {
  border: 0;
}

.json-value__old-value {
  /*background-color: rgba(--solarized-red, 0.4);*/
}

.json-value__old-value,
.json-value__old-value--label {
  margin-left: .6rem;
}

.json-value__old-value--label {
  color: var(--solarized-red);
}

.json-value__value {
  margin: 0;
}
