.component__node {
}

.component__node .component-view__entry {
  display: flex;
}

.component__node .component-view__entry .component-view__key,
.component__node .component__node--key {
  color: var(--color-text);
  font-weight: bold;
  margin-right: 5px;
}

.component__node .component-view__entry .component-view__value {
  margin-bottom: 0;
  margin-top: 0;
}

.component__node .component__node--value {
  padding-left: 10px;
}

/*****************/
/** Components ***/
/*****************/

.addable__container:not(.addable__container--form) {
  align-items: center;
}

.addable__container,
.addable__container--form,
.addable__entry {
  display: flex;
}

.addable__container--form button {
  width: fit-content;
}

.addable__container.addable__container--form {
  flex-direction: column;
}

.addable__container .addable__key label,
.addable__container .addable__value label {
  display: block;
}

.addable__container .addable__separator {
  background-color: gray;
  height: 1px;
  margin-right: 10px;
  width: 150px;
}

.array-object__item--container {
  display: flex;
}
