/******************/
/*   Components   */
/******************/
.btn-sm {
  font-size: .75rem;
  padding: .188rem .688rem;
}

.btn {
  font-size: .875rem;
  padding: .688rem 1.438rem;
  width: 15rem;
}

.btn,
.btn-sm,
.btn-secondary,
.btn-tertiary {
  cursor: pointer;
  font-family: var(--base-fonts), sans-serif;
  font-weight: bold;
}

.component__container,
.component__key,
.component__key--label,
.component__value,
.component__value--edit,
.expandable__container,
.expandable__value-toggle {
  align-items: center;
  min-height: 24px;
}

.component__container.component__container--collapsable {
  &.collapsed {
    display: flex;
  }

  &.expanded {
    > .component__value {
      margin-left: 1rem;
    }
  }

  .component__actions {
    display: flex;
  }
}

.component__key {
  .component__key--label {
    align-content: center;
    display: inline-block;
    font-weight: bold;
  }
}

.component__value .component__value--edit {
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.keyable__container.keyable__container--form,
.itemable__container.itemable__container--form {
  padding: 1rem;

  textarea {
    font-family: inherit;
    font-size: .875rem;
    height: 12.5rem;
    padding: .688rem .938rem;
    resize: none;
    width: calc(100% - (.938rem * 2)); /* padding-left and padding-right are .938rem each */
  }
}

/******************/
/*     Array      */
/******************/

.array-component__container {
  &:not(.collpased) {
    .array-component__value {
      padding-left: 1rem;

      .array-component__inner {
      }
    }
  }

  &.collpased {
    display: flex;
  }

  .array-component__actions {
    button {
      width: 100%;
    }
  }
}

/******************/
/*   Expandable   */
/******************/
.expandable__value-toggle {
  margin-left: 5px;
}

.expandable__action-toggle,
.expandable__value-toggle {
  background-color: unset;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: rgb(243, 244, 249);
  }
}

/******************/
/*    Itemable    */
/******************/

.itemable__container {
  .itemable__actions {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

/******************/
/*    Keyable    */
/******************/

.keyable__container {
  .keyable__actions {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.keyable__container .keyable__key input,
.keyable__container .keyable__value input {
  font-size: .875rem;
  padding: .688rem .938rem;
}

.keyable__container .keyable__actions,
.keyable__container .keyable__key,
.keyable__container .keyable__value {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

/******************/
/*   StringArray  */
/******************/

.string-array__container {
  .component__actions {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .string-array__value--edit textarea {
    font-family: inherit;
    font-size: inherit;
    resize: none;
    width: calc(100% - 3rem); /* padding-left, padding-right and margin-left are 1rem each */
  }

  .string-array__value--edit textarea,
  .string-array__value--view {
    padding: .5rem 1rem;
  }
}
