.node__container {
  border: 2px solid darkred;
}

.node__container.node__container--opened {
  border-color: darkgreen;
}

.node__container:not(.node__container--opened) .node__container-inner {
  display: none;
}
