.json__node {
}

.json__node .json-view__entry {
  display: flex;
}

.json__node .json-view__entry .json-view__key,
.json__node .json__node--key {
  color: var(--color-text);
  font-weight: bold;
  margin-right: 5px;
}

.json__node .json-view__entry .json-view__value {
  margin-bottom: 0;
  margin-top: 0;
}

.json__node .json__node--value {
  padding-left: 10px;
}
