:root {
  --base-fonts: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue";

  --color-gray: #232429;
  --color-text: var(--color-gray);
}

body {
  font-family: var(--base-fonts), sans-serif;
  font-size: .875rem;
  font-weight: 400;
  margin: 0;
}
