:root {
  /* https://raw.githubusercontent.com/altercation/solarized/master/img/solarized-palette.png */
  --solarized-base03:    #002b36;
  --solarized-base02:    #073642;
  --solarized-base01:    #586e75;
  --solarized-base00:    #657b83;
  --solarized-base0:     #839496;
  --solarized-base1:     #93a1a1;
  --solarized-base2:     #eee8d5;
  --solarized-base3:     #fdf6e3;
  --solarized-yellow:    #b58900;
  --solarized-orange:    #cb4b16;
  --solarized-red:       #dc322f;
  --solarized-magenta:   #d33682;
  --solarized-violet:    #6c71c4;
  --solarized-blue:      #268bd2;
  --solarized-cyan:      #2aa198;
  --solarized-green:     #859900;

  font-family: Consolas, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.theme__solarized .theme__background {
  background-color: var(--solarized-base3);
}

.theme__solarized .theme__highlight--bg--hover:hover {
  background-color: var(--solarized-base2);
}

.theme__solarized .theme__border {
  --border: var(--solarized-base00);
  --border-hover: var(--solarized-magenta);
}

.theme__solarized .theme__comment {
  color: var(--solarized-base1);
}

.theme__solarized .theme__emphasized {
  color: var(--solarized-base01);
}

